.Profile{
    display: block !important;
    padding: 0 15px 30px 15px;
}
.Wellcome{
    float: right;
    text-align: center;
    font-size: 16px;
    width: 300px;
    border-bottom: 1px solid #d7d5d5;
}
.Wellcome > span.UserName{
    color: #dc3333;
    font-size: 20px;
    text-transform: uppercase;
} 
.List-user{
    margin-top: 60px;
    padding-bottom: 50px;
    position: relative;
}
.Select-display{
    width: 250px;
    float: right;
    height: 40px;
    position: absolute;
    right: 0px;
    top: -1px;
    border: 2px solid #dc3333;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid #ea4242 !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #dc3333;
    border-color: #dc3333 !important;
}
.nav-tabs {
    border-bottom: 1px solid #dc3333 !important;
}
.tab-content>.active {
    min-height: 500px;
    display: block;
    border: 5px solid #dc3333  !important;
}
.Status-Accout{
    position: relative;
}
.Edit-status-account{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: 0;
    color: #339af0;
}
.Display-none{
    display: none !important;
}
.Check-Block{
    color: #dc3333  !important;
    font-size: 20px;
}
.Check-No-Block{
    color: #339af0  !important;
    font-size: 20px;
}
.modal-content {
    position: absolute;
    top: calc(50vh - 150px) !important;
}
.position-relative{
    position: relative;
}
.Modal-footer-loadding{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    left: 20px;
}
.Loadmore-button{
    width: 150px;
    height: 49px;
    float: right;
    border: none;
    border-radius: 0;
    background: #dc3333;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    word-break: break-word;
    margin-top: 20px;
    transition-duration: 0.6;
    margin-left:  20px;
}
.Loadmore-button:hover{
    color: #fff;
    background-color: #ab0606;
}
.Loadmore-button:focus{
    border: none;
    outline: none;
    color: #fff;
    background-color: #dc3333;
    box-shadow: none !important;
}