.container-home {
    padding-bottom: 50px;
    background: #fdfdfd;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    max-width: 1400px;
    box-shadow: 0px 0px 13px #dedcdc;
}

.display-none{
    display: none;
}
.all-task{
    border-top: 8px solid #ecedf1;
    border-top-style: double;
    border-bottom: 8px solid #d5d6d8;
    border-bottom-style: groove;
    width: 95%;
    margin: 20px auto;
}

.add-task:hover{
    box-shadow: 0 0 5px #2b5fad;
}
.display-block{
    display: block;
}

.col-name{
    background-color: #d5d6d8;
    color: #172b4d;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    margin: 6px auto;
}

.col-custom{
    border-right-style: double;
    border-left: 4px solid #dddfe4;
    border-right: 2px solid #f1f2f4;
    border-left-style: double;
}
.task-cover{
    border: 1px solid #f4f5f7;
    background-color: #f4f5f7;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 95%;
    margin: 10px auto;
}

.spinnerClass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.text-loading{
    font-size: 15px;
    margin-top: 10px;
}
.due-date{
    text-align: left;
    color: #e84133;
}
.task-name{
    width: calc(100% - 30px);
    text-align: left;
    color: #2b5fad;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}
.edit-task-img{
    position: absolute;
    right: -30px;
    top: 0;
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.edit-task-img:hover{
    transform: scale(1.15);
}