.title-tab {
    color: #000;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    font-size: 16px;
}

.sub-title {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 5px;
}
.read-more-button{
    color: #286DA8 !important;
    cursor: pointer;
}
.text-left{
    text-align: left !important;
}
.phuong-thuc-tt{
    width: 200px !important;
}
/* tab-add-category */

.tab-add-category {
    display: flex;
    border-right: 2px solid #f53535;
    box-shadow: 15px 13px 0px #f36161;
    box-shadow: 15px 13px 0px #f36161;
    padding: 25px 15px 25px 0;
    border-bottom: 2px solid #f53535;
    justify-content: center;
    flex-direction: column;
}

.note-select {
    color: darkcyan;
    text-align: left;
    padding-top: 5px;
    padding-left: 13px;
}

.input-style {
    border: 1px solid #aaaaaa;
    height: 35px;
    padding: 0 10px;
}
.textarea-min-height{
    min-height: 15rem ;
}
.check-isShow {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
}

.check-isShow>span {
    margin-left: 10px;
    font-size: 14px;
    text-align: left;
    white-space: nowrap;
}

.button-add {
    margin-top: 20px;
    width: 90px;
    height: 40px;
    color: #fff;
    background: #dc3333;
    float: right;
}
.button-add:disabled{
    opacity: 0.3;
}

/* tab-list-payment */

.tab-list-category {
    display: flex;
    border-right: 2px solid #f53535;
    padding: 25px 15px 25px 0;
    border-bottom: 2px solid #f53535;
    justify-content: center;
    flex-direction: column;
}


/* Loading */
.Processing{
    display: flex;
    margin-top: 20px;
    height: 40px;
    width: 150px;
    line-height: 40px;
    float: left;
    justify-content: left;
    align-items: center;
}
.Processing > .spinner {
    margin-left: 0px !important;
}
.Processing>span{
    margin-left: 10px;
}

 /* Response Message */
.SUCCESS > i , .SUCCESS > span {
    color: #28a745 !important;
}
.FAIL > i , .FAIL > span {
    color: #ea4242 !important;
}