.App-container {
  text-align: center;
}
#Wrap-router{
  background-color: #f5f5f5;
}
.table {
  width: 100%;
  margin-bottom: 0rem !important;
}
.Position-fixed{
  position: fixed;
  z-index: 200;
  width: 100vw;
<<<<<<< HEAD
}
.d-none{
  display: none;
}
.d-block{
  display: block;
=======
>>>>>>> d5a53163d61d0a94e376fee27c6fc2b3d27fb609
}